<h4>Brands</h4>
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="iphone-tab"
                        data-bs-toggle="tab" data-bs-target="#iphone"
                        type="button" role="tab" aria-controls="iphone"
                        aria-selected="true">Apple</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="samsung-tab"
                        data-bs-toggle="tab" data-bs-target="#samsung"
                        type="button" role="tab" aria-controls="samsung"
                        aria-selected="false">Samsung</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="iphone"
                    role="tabpanel"
                    aria-labelledby="iphone-tab">
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <div class="card z-index-2 h-100">
                                <div
                                    class="card-header pb-0 pt-3 bg-transparent border-0">
                                    <h6 class="text-capitalize">Top sales</h6>
                                </div>
                                <div class="card-body p-3">
                                    <div class="row">
                                        <div class="col-md text-center product-container">
                                            <img class="product-img mb-2    "
                                                src="../img/products/iphone-x-256gb-silver-400x400.jpg"
                                                alt>
                                            <h6>iPhone X 256GB Silver</h6>
                                            <div class="price">
                                                <strong>27.990.000₫</strong>
                                                <span>31.990.000₫</span>
                                            </div>
                                            <div class="rating">
                                                <i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i
                                                    class="fa fa-star-o"></i><span>10
                                                    đánh giá</span>
                                            </div>
                                        </div>
                                        <div class="col-md text-center product-container">
                                            <img class="product-img mb-2    "
                                                src="../img/products/iphone-x-256gb-silver-400x400.jpg"
                                                alt>
                                            <h6>iPhone X 256GB Silver</h6>
                                            <div class="price">
                                                <strong>27.990.000₫</strong>
                                                <span>31.990.000₫</span>
                                            </div>
                                            <div class="rating">
                                                <i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i
                                                    class="fa fa-star-o"></i><span>10
                                                    đánh giá</span>
                                            </div>
                                        </div>
                                        <div class="col-md text-center product-container">
                                            <img class="product-img mb-2    "
                                                src="../img/products/iphone-x-256gb-silver-400x400.jpg"
                                                alt>
                                            <h6>iPhone X 256GB Silver</h6>
                                            <div class="price">
                                                <strong>27.990.000₫</strong>
                                                <span>31.990.000₫</span>
                                            </div>
                                            <div class="rating">
                                                <i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i
                                                    class="fa fa-star-o"></i><span>10
                                                    đánh giá</span>
                                            </div>
                                        </div>
                                        <div class="col-md text-center product-container">
                                            <img class="product-img mb-2    "
                                                src="../img/products/iphone-x-256gb-silver-400x400.jpg"
                                                alt>
                                            <h6>iPhone X 256GB Silver</h6>
                                            <div class="price">
                                                <strong>27.990.000₫</strong>
                                                <span>31.990.000₫</span>
                                            </div>
                                            <div class="rating">
                                                <i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i
                                                    class="fa fa-star-o"></i><span>10
                                                    đánh giá</span>
                                            </div>
                                        </div>
                                        <div class="col-md text-center product-container">
                                            <img class="product-img mb-2    "
                                                src="../img/products/iphone-x-256gb-silver-400x400.jpg"
                                                alt>
                                            <h6>iPhone X 256GB Silver</h6>
                                            <div class="price">
                                                <strong>27.990.000₫</strong>
                                                <span>31.990.000₫</span>
                                            </div>
                                            <div class="rating">
                                                <i class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i
                                                    class="fa fa-star"></i><i
                                                    class="fa fa-star-o"></i><span>10
                                                    đánh giá</span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <div class="card z-index-2 h-100">
                                <div
                                    class="card-header pb-0 pt-3 bg-transparent border-0">
                                    <h6 class="text-capitalize">Sales overview</h6>
                                    <p class="text-sm mb-0">
                                        <i class="fa fa-arrow-up text-success"></i>
                                        <span class="font-weight-bold">11% more</span>
                                        in
                                        2023
                                    </p>
                                </div>
                                <div class="card-body p-3">
                                    <div class="chart">
                                        <canvas id="chart-line"
                                            class="chart-canvas"
                                            height="400"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="samsung" role="tabpanel"
                    aria-labelledby="samsung-tab">

                </div>
            </div>
        </div>
    </div>
</div>