<h4>Customers</h4>
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-12">
            <div class="my-2 d-flex justify-content-between align-items-center">
                <div class="position-relative">
                    <span class="position-absolute search"><i
                            class="fa fa-search"></i></span>
                    <input class="form-control w-100 order-table"
                        placeholder="Search by name">
                </div>

                <div class="px-2">
                    <span>Filters <i class="fa fa-angle-down"></i></span>
                    <i class="fa fa-ellipsis-h ms-3"></i>
                </div>

            </div>
            <div class="container table-responsive order-table mt-4 pt-2 px-2">
                <div class="row pt-2 mx-2">
                    <table
                        class="table table-responsive table-borderless align-middle">
                        <thead class="table-info">
                            <tr class="bg-light">
                                <th scope="col" width="5%"><input
                                        class="form-check-input" type="checkbox"></th>
                                <th scope="col" width="5%">#</th>
                                <th scope="col" width="20%">Name</th>
                                <th scope="col" width="10%">Joined</th>
                                <th scope="col" class="text-center" width="20%"><span>Total
                                        spend</span></th>
                                <th scope="col" width="10%">Last online</th>
                                <th scope="col" class="text-center" width="10%">Detail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><input class="form-check-input"
                                        type="checkbox"></th>
                                <td>12</td>
                                <td><img src="https://i.imgur.com/VKOeFyS.png"
                                        width="25"> Althan Travis</td>
                                <td>1 Oct, 21</td>
                                <td class="text-center"><span class="fw-bolder">$0.99</span></td>
                                <td>1 Dec, 23</td>
                                <td class="text-center">
                                    <button
                                        class="btn btn-xs btn-light detail-btn">
                                        <i
                                            class="fa-solid fa-angles-down"
                                            style="color: #a5d737;"></i>

                                    </button>
                                </td>
                            </tr>
                            <tr class="detail-row">
                                <td colspan="7" class="detail-col">
                                    <div class="container-fluid detail-table">
                                        <div class="row">
                                            <div
                                                class="col-md-2 d-flex justify-content-center align-items-center">
                                                <div class="avatar-container">
                                                    <img class="avatar-img"
                                                        src="../img/user-avatar.png"
                                                        alt="Avatar">
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <th width="20%">Name</th>
                                                            <td>Althan Travis</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Email</th>
                                                            <td>altravis.1312@gmail.com</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Address</th>
                                                            <td>227 Đ. Nguyễn
                                                                Văn
                                                                Cừ, Phường 4,
                                                                Quận
                                                                5, Thành phố Hồ
                                                                Chí
                                                                Minh</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Date
                                                                of
                                                                Birth</th>
                                                            <td>18 Oct, 2003</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Phone</th>
                                                            <td>0987654321</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Joined</th>
                                                            <td>1 Oct, 2021</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Last
                                                                online</th>
                                                            <td>1 Dec, 2023</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Total
                                                                spend</th>
                                                            <td>$0.99</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2"
                                                                class="justify-content-end text-end border-0">
                                                                <div
                                                                    class="hidden-sm hidden-xs btn-group">
                                                                    <button
                                                                        class="btn btn-xs btn-success">
                                                                        <i
                                                                            class="ace-icon fa fa-check bigger-120"></i>
                                                                    </button>

                                                                    <button
                                                                        class="btn btn-xs btn-info">
                                                                        <i
                                                                            class="ace-icon fa fa-pencil bigger-120"></i>
                                                                    </button>

                                                                    <button
                                                                        class="btn btn-xs btn-danger">
                                                                        <i
                                                                            class="ace-icon fa fa-trash-o bigger-120"></i>
                                                                    </button>

                                                                    <button
                                                                        class="btn btn-xs btn-warning">
                                                                        <i
                                                                            class="ace-icon fa fa-flag bigger-120"></i>
                                                                    </button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><input class="form-check-input"
                                        type="checkbox"></th>
                                <td>12</td>
                                <td><img src="https://i.imgur.com/VKOeFyS.png"
                                        width="25"> Althan Travis</td>
                                <td>1 Oct, 21</td>
                                <td class="text-center"><span class="fw-bolder">$0.99</span></td>
                                <td>1 Dec, 23</td>
                                <td class="text-center">
                                    <button
                                        class="btn btn-xs btn-light detail-btn">
                                        <i
                                            class="fa-solid fa-angles-down"
                                            style="color: #a5d737;"></i>

                                    </button>
                                </td>
                            </tr>
                            <tr class="detail-row">
                                <td colspan="7" class="detail-col">
                                    <div class="container-fluid detail-table">
                                        <div class="row">
                                            <div
                                                class="col-md-2 d-flex justify-content-center align-items-center">
                                                <div class="avatar-container">
                                                    <img class="avatar-img"
                                                        src="../img/user-avatar.png"
                                                        alt="Avatar">
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <th width="20%">Name</th>
                                                            <td>Althan Travis</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Email</th>
                                                            <td>altravis.1312@gmail.com</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Address</th>
                                                            <td>227 Đ. Nguyễn
                                                                Văn
                                                                Cừ, Phường 4,
                                                                Quận
                                                                5, Thành phố Hồ
                                                                Chí
                                                                Minh</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Date
                                                                of
                                                                Birth</th>
                                                            <td>18 Oct, 2003</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Phone</th>
                                                            <td>0987654321</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Joined</th>
                                                            <td>1 Oct, 2021</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Last
                                                                online</th>
                                                            <td>1 Dec, 2023</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Total
                                                                spend</th>
                                                            <td>$0.99</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2"
                                                                class="justify-content-end text-end border-0">
                                                                <div
                                                                    class="hidden-sm hidden-xs btn-group">
                                                                    <button
                                                                        class="btn btn-xs btn-success">
                                                                        <i
                                                                            class="ace-icon fa fa-check bigger-120"></i>
                                                                    </button>

                                                                    <button
                                                                        class="btn btn-xs btn-info">
                                                                        <i
                                                                            class="ace-icon fa fa-pencil bigger-120"></i>
                                                                    </button>

                                                                    <button
                                                                        class="btn btn-xs btn-danger">
                                                                        <i
                                                                            class="ace-icon fa fa-trash-o bigger-120"></i>
                                                                    </button>

                                                                    <button
                                                                        class="btn btn-xs btn-warning">
                                                                        <i
                                                                            class="ace-icon fa fa-flag bigger-120"></i>
                                                                    </button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><input class="form-check-input"
                                        type="checkbox"></th>
                                <td>12</td>
                                <td><img src="https://i.imgur.com/VKOeFyS.png"
                                        width="25"> Althan Travis</td>
                                <td>1 Oct, 21</td>
                                <td class="text-center"><span class="fw-bolder">$0.99</span></td>
                                <td>1 Dec, 23</td>
                                <td class="text-center">
                                    <button
                                        class="btn btn-xs btn-light detail-btn">
                                        <i
                                            class="fa-solid fa-angles-down"
                                            style="color: #a5d737;"></i>

                                    </button>
                                </td>
                            </tr>
                            <tr class="detail-row">
                                <td colspan="7" class="detail-col">
                                    <div class="container-fluid detail-table">
                                        <div class="row">
                                            <div
                                                class="col-md-2 d-flex justify-content-center align-items-center">
                                                <div class="avatar-container">
                                                    <img class="avatar-img"
                                                        src="../img/user-avatar.png"
                                                        alt="Avatar">
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <th width="20%">Name</th>
                                                            <td>Althan Travis</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Email</th>
                                                            <td>altravis.1312@gmail.com</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Address</th>
                                                            <td>227 Đ. Nguyễn
                                                                Văn
                                                                Cừ, Phường 4,
                                                                Quận
                                                                5, Thành phố Hồ
                                                                Chí
                                                                Minh</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Date
                                                                of
                                                                Birth</th>
                                                            <td>18 Oct, 2003</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Phone</th>
                                                            <td>0987654321</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Joined</th>
                                                            <td>1 Oct, 2021</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Last
                                                                online</th>
                                                            <td>1 Dec, 2023</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Total
                                                                spend</th>
                                                            <td>$0.99</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2"
                                                                class="justify-content-end text-end border-0">
                                                                <div
                                                                    class="hidden-sm hidden-xs btn-group">
                                                                    <button
                                                                        class="btn btn-xs btn-success">
                                                                        <i
                                                                            class="ace-icon fa fa-check bigger-120"></i>
                                                                    </button>

                                                                    <button
                                                                        class="btn btn-xs btn-info">
                                                                        <i
                                                                            class="ace-icon fa fa-pencil bigger-120"></i>
                                                                    </button>

                                                                    <button
                                                                        class="btn btn-xs btn-danger">
                                                                        <i
                                                                            class="ace-icon fa fa-trash-o bigger-120"></i>
                                                                    </button>

                                                                    <button
                                                                        class="btn btn-xs btn-warning">
                                                                        <i
                                                                            class="ace-icon fa fa-flag bigger-120"></i>
                                                                    </button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row mx-2 justify-content-end d-flex">
                    <nav style="width:auto">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</div>