<h4>Products</h4>
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-12">
            <div class="my-2 d-flex justify-content-between align-items-center">
                <div class="position-relative">
                    <span class="position-absolute search"><i
                            class="fa fa-search"></i></span>
                    <input class="form-control w-100 order-table"
                        placeholder="Search by name">
                </div>

                <div class="px-2">
                    <span>Filters <i class="fa fa-angle-down"></i></span>
                    <i class="fa fa-ellipsis-h ms-3"></i>
                </div>

            </div>
            <div class="container table-responsive order-table mt-4 pt-2 px-2">
                <div class="row pt-2 mx-2">
                    <table
                        class="table table-responsive table-borderless align-middle">
                        <thead class="table-info">
                            <tr class="bg-light">
                                <th scope="col" width="5%"><input
                                        class="form-check-input" type="checkbox"></th>
                                <th scope="col" width="5%">#</th>
                                <th scope="col" width="30%">Name</th>
                                <th scope="col" width="10%">Brand</th>
                                <th scope="col" width="10%">Announced</th>
                                <th scope="col" class="text-center" width="20%"><span>Price</span></th>
                                <th scope="col" width="10%">Sold</th>
                                <th scope="col" class="text-center" width="10%">Detail</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><input class="form-check-input"
                                        type="checkbox"></th>
                                <td>12</td>
                                <td>iPhone X 256GB Silver</td>
                                <td>Apple</td>
                                <td>1 Oct, 21</td>
                                <td class="text-center"><span class="fw-bolder">$2,099</span></td>
                                <td>899</td>
                                <td class="text-center">
                                    <button
                                        class="btn btn-xs btn-light detail-btn">
                                        <i
                                            class="fa-solid fa-angles-down"
                                            style="color: #a5d737;"></i>

                                    </button>
                                </td>
                            </tr>
                            <tr class="detail-row">
                                <td colspan="8" class="detail-col">
                                    <div class="container-fluid detail-table">
                                        <div class="row">
                                            <div
                                                class="col-md-3 d-flex justify-content-center align-items-center">
                                                <div class="product-container">
                                                    <img class="product-img"
                                                        src="../img/products/iphone-x-256gb-silver-400x400.jpg"
                                                        alt="Avatar">
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <th width="20%">Name</th>
                                                            <td>iPhone X 256GB Silver</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Brand</th>
                                                            <td>Apple</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Annouced</th>
                                                            <td>1 Oct, 21</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Cost price</th>
                                                            <td>$1,500</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Sales price</th>
                                                            <td>$2,099</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Discount</th>
                                                            <td>8%</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Total
                                                                sold</th>
                                                            <td>899</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2"
                                                                class="justify-content-end text-end border-0">
                                                                <div
                                                                    class="hidden-sm hidden-xs btn-group">
                                                                    <button
                                                                        class="btn btn-xs btn-success">
                                                                        <i
                                                                            class="ace-icon fa fa-check bigger-120"></i>
                                                                    </button>

                                                                    <button
                                                                        class="btn btn-xs btn-info">
                                                                        <i
                                                                            class="ace-icon fa fa-pencil bigger-120"></i>
                                                                    </button>

                                                                    <button
                                                                        class="btn btn-xs btn-danger">
                                                                        <i
                                                                            class="ace-icon fa fa-trash-o bigger-120"></i>
                                                                    </button>

                                                                    <button
                                                                        class="btn btn-xs btn-warning">
                                                                        <i
                                                                            class="ace-icon fa fa-flag bigger-120"></i>
                                                                    </button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><input class="form-check-input"
                                        type="checkbox"></th>
                                <td>12</td>
                                <td>iPhone X 256GB Silver</td>
                                <td>Apple</td>
                                <td>1 Oct, 21</td>
                                <td class="text-center"><span class="fw-bolder">$2,099</span></td>
                                <td>899</td>
                                <td class="text-center">
                                    <button
                                        class="btn btn-xs btn-light detail-btn">
                                        <i
                                            class="fa-solid fa-angles-down"
                                            style="color: #a5d737;"></i>

                                    </button>
                                </td>
                            </tr>
                            <tr class="detail-row">
                                <td colspan="8" class="detail-col">
                                    <div class="container-fluid detail-table">
                                        <div class="row">
                                            <div
                                                class="col-md-3 d-flex justify-content-center align-items-center">
                                                <div class="product-container">
                                                    <img class="product-img"
                                                        src="../img/products/iphone-x-256gb-silver-400x400.jpg"
                                                        alt="Avatar">
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <th width="20%">Name</th>
                                                            <td>iPhone X 256GB Silver</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Brand</th>
                                                            <td>Apple</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Annouced</th>
                                                            <td>1 Oct, 21</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Cost price</th>
                                                            <td>$1,500</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Sales price</th>
                                                            <td>$2,099</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Discount</th>
                                                            <td>8%</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Total
                                                                sold</th>
                                                            <td>899</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2"
                                                                class="justify-content-end text-end border-0">
                                                                <div
                                                                    class="hidden-sm hidden-xs btn-group">
                                                                    <button
                                                                        class="btn btn-xs btn-success">
                                                                        <i
                                                                            class="ace-icon fa fa-check bigger-120"></i>
                                                                    </button>

                                                                    <button
                                                                        class="btn btn-xs btn-info">
                                                                        <i
                                                                            class="ace-icon fa fa-pencil bigger-120"></i>
                                                                    </button>

                                                                    <button
                                                                        class="btn btn-xs btn-danger">
                                                                        <i
                                                                            class="ace-icon fa fa-trash-o bigger-120"></i>
                                                                    </button>

                                                                    <button
                                                                        class="btn btn-xs btn-warning">
                                                                        <i
                                                                            class="ace-icon fa fa-flag bigger-120"></i>
                                                                    </button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><input class="form-check-input"
                                        type="checkbox"></th>
                                <td>12</td>
                                <td>iPhone X 256GB Silver</td>
                                <td>Apple</td>
                                <td>1 Oct, 21</td>
                                <td class="text-center"><span class="fw-bolder">$2,099</span></td>
                                <td>899</td>
                                <td class="text-center">
                                    <button
                                        class="btn btn-xs btn-light detail-btn">
                                        <i
                                            class="fa-solid fa-angles-down"
                                            style="color: #a5d737;"></i>

                                    </button>
                                </td>
                            </tr>
                            <tr class="detail-row">
                                <td colspan="8" class="detail-col">
                                    <div class="container-fluid detail-table">
                                        <div class="row">
                                            <div
                                                class="col-md-3 d-flex justify-content-center align-items-center">
                                                <div class="product-container">
                                                    <img class="product-img"
                                                        src="../img/products/iphone-x-256gb-silver-400x400.jpg"
                                                        alt="Avatar">
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <table class="table">
                                                    <tbody>
                                                        <tr>
                                                            <th width="20%">Name</th>
                                                            <td>iPhone X 256GB Silver</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Brand</th>
                                                            <td>Apple</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Annouced</th>
                                                            <td>1 Oct, 21</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Cost price</th>
                                                            <td>$1,500</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Sales price</th>
                                                            <td>$2,099</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Discount</th>
                                                            <td>8%</td>
                                                        </tr>
                                                        <tr>
                                                            <th width="20%">Total
                                                                sold</th>
                                                            <td>899</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2"
                                                                class="justify-content-end text-end border-0">
                                                                <div
                                                                    class="hidden-sm hidden-xs btn-group">
                                                                    <button
                                                                        class="btn btn-xs btn-success">
                                                                        <i
                                                                            class="ace-icon fa fa-check bigger-120"></i>
                                                                    </button>

                                                                    <button
                                                                        class="btn btn-xs btn-info">
                                                                        <i
                                                                            class="ace-icon fa fa-pencil bigger-120"></i>
                                                                    </button>

                                                                    <button
                                                                        class="btn btn-xs btn-danger">
                                                                        <i
                                                                            class="ace-icon fa fa-trash-o bigger-120"></i>
                                                                    </button>

                                                                    <button
                                                                        class="btn btn-xs btn-warning">
                                                                        <i
                                                                            class="ace-icon fa fa-flag bigger-120"></i>
                                                                    </button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row mx-2 justify-content-end d-flex">
                    <nav style="width:auto">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</div>