<div class="footer">
    <!-- ============== Alert Box ============= -->
    <div id="alert">
        <span id="closebtn">⊗</span>
    </div>

    <!-- ============== Footer ============= -->
    <div class="copy-right">
        <p style="margin-bottom: 0;"><a href="/">Thế giới di động</a> - Đồ án web © 2024 - Được thiết kế bởi
            <span style="color: #eee; font-weight: bold">nhóm Bee</span>
        </p>
    </div>
</div>