.page-gt {
	width: 80%;
	margin: 50px 0 150px 100px;
}

.page-header {
	height: 40px;
	background: pink;
	line-height: 40px;
	padding-left: 10px;
}

.page-info {
	font-size: 15px;
	margin-top: 20px;
}

.listGT {
	display: flex;
	margin: 10px 30px 10px 50px;
	display: flex;
	flex-wrap: wrap;
}

.headerTitle {
	margin: 2% 10% 2% 25%;
	font-size: 2em;
}

.khungGT {
	border-radius: 10px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	width: 40%;
	margin: 20px;
	padding: 20px;
	background-color: aliceblue;

}

.khungGT:hover {
	background-color: rgb(151, 188, 221);
}


.khungGT h2 {
	margin-bottom: 10px;
}

.header-table marquee {
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
	background-color: rgb(148, 192, 230) !important;
}