<div class="header container-fluid w-100 m-0">
    <div class="row w-100">
        <div class="col-md-3">
            <div class="logo ms-4 position-fixed">
                <a href="/admin/dashboard">
                    <img src="../img/logo-removebg.png"
                        alt="Trang chủ Smartphone Store"
                        title="Trang chủ Smartphone Store">
                </a>
            </div>
        </div>
        <div class="col-md-9 d-flex justify-content-end fs-5">
            <div class="row">
                <div class="col-md-9 fs-6 text-end w-100">
                    <p class="m-0 fw-medium">Hey, Admin</p>
                </div>
            </div>
        </div>
    </div>
</div>