<section>
  <h4>Customers</h4>
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-md-12">
        <div class="my-2 d-flex justify-content-between align-items-center">
          <div class="position-relative">
            <span class="position-absolute search"><i class="fa fa-search"></i></span>
            <input class="form-control w-100 order-table" placeholder="Search by name" id="search-name">
          </div>

          <!-- Button trigger modal -->
          <div>
            <button type="button" class="btn modal-button" data-bs-toggle="modal" data-bs-target="#addOrderModal">
              Thêm mới tài khoản
            </button>

            <!-- Modal -->
            <div class="modal fade" id="addOrderModal" tabindex="-1" aria-labelledby="addOrderModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addOrderModalLabel">Tài khoản mới</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div id="cnt-err" class="alert alert-danger p-2" style="font-size: 15px; display:none;"
                      role="alert">
                      <ul class="mb-0" id="errMess">
                      </ul>
                    </div>
                    <div class="container-fluid" style="height: 100%;">
                      <form id="addUserForm" style="height: 100%;">
                        <div class="form-group mt-2">
                          <label for="name">Tên khách hàng</label>
                          <input type="text" id="name" class="form-control" name="name"
                            placeholder="Nhập tên khách hàng" required>
                        </div>
                        <div class="form-group mt-2">
                          <label for="email">Email</label>
                          <input type="text" class="form-control" name="email" placeholder="Địa chỉ email" required>
                        </div>
                        <div class="form-group mt-2">
                          <label for="phoneNumber">Số điện thoại</label>
                          <input type="text" class="form-control" name="phoneNumber" placeholder="Số điện thoại"
                            required>
                        </div>
                        <div class="form-group mt-2">
                          <label for="role">Role</label>
                          <select class="form-select" aria-label="Default select example" name="role">
                            <option value="user" selected>Khách hàng</option>
                            <option value="admin">Quản trị viên</option>
                          </select>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary" onclick="addUser()">Thêm</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="container table-responsive order-table mt-4 pt-2 px-2">
          <div class="row pt-2 mx-2">
            <table class="table table-responsive table-borderless align-middle table-hover">
              <thead class="table-info">
                <tr class="bg-light">
                  <th scope="col" width="5%"><input class="form-check-input" type="checkbox" id="search-name"></th>
                  <th scope="col" width="5%">#</th>
                  <th scope="col" width="20%">Name</th>
                  <th scope="col" width="10%">Joined</th>
                  <th scope="col" class="text-center" width="20%"><span>Total
                      spend</span></th>
                  <th scope="col" width="10%">Last online</th>
                  <th scope="col" class="text-center" width="10%">Detail</th>
                </tr>
              </thead>
              <tbody id="customer-list">
              </tbody>
            </table>
          </div>
          <div class="row mx-2 justify-content-center d-flex">
            <nav style="width:auto">
              <ul class="pagination" id="pagination">
              </ul>
            </nav>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="modal" tabindex="-1" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Xóa tài khoản</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Bạn có chắc muốn xóa tài khoản có email: <b id="emailDel"></b> </p>
          <p class="text-body-tertiary"><b class="text-warning"><u>Lưu ý:</u></b> mọi thông tin liên quan của tài khoản
            này
            cũng sẽ
            bị xóa
            ra khỏi hệ thống.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="confirmDel">Yes</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="addOrderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="addOrderModalLabel">Cập nhật thông tin tài khoản</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="cnt-err2" class="alert alert-danger p-2" style="font-size: 15px; display:none;" role="alert">
            <ul class="mb-0" id="errMess2">
            </ul>
          </div>
          <div class="container-fluid" style="height: 100%;">
            <form id="updateUserForm" style="height: 100%;">
              <div class="form-group mt-2">
                <label for="name">Tên khách hàng</label>
                <input type="text" id="uName" class="form-control" name="name" placeholder="Nhập tên khách hàng"
                  required>
              </div>
              <div class="form-group mt-2">
                <label for="name">Email</label>
                <input type="text" id="uEmail" class="form-control text-body-secondary" name="email"
                  placeholder="Địa chỉ email" readonly disabled="disabled">
              </div>
              <div class="form-group mt-2">
                <label for="name">Số điện thoại</label>
                <input type="text" id="uPhoneNumber" class="form-control" name="phoneNumber" placeholder="Số điện thoại"
                  required>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
          <button type="button" id="confirmUpdate" class="btn btn-primary">Cập nhật</button>
        </div>
      </div>
    </div>
  </div>
</section>


<script>
  function convertToVND(number) {
    number = parseInt(number) || 0;
    // Using toLocaleString to format the number as currency in VND
    let vndFormatted = number.toLocaleString('vi-VN', {
      style: 'currency',
      currency: 'VND'
    });

    return vndFormatted;
  }

  function toggleDetail(data) {
    let id = $(data).attr("data-id")
    document.querySelectorAll('.detail-row')[id].classList.toggle('open')
  }

  function handleClick(page) {
    let keyword = document.querySelector("#search-name").value;
    data = { currentPage: parseInt(page) }
    if (keyword == "") {
      $.ajax({
        type: "GET",
        url: "/admin/customers/getPerpage",
        data: data,
        contentType: 'application/json',
        dataType: "json",
        success: function (data) {
          let totalPage = data.totalPage;
          let currentPage = data.currentPage;
          renderPagination(data.totalPage, data.currentPage);
          renderCustomer(data.listcustomer, data.currentPage);
        },
        error: function (result) {
          console.log(result);
        }
      });

    }
    else {
      searchByKeyword(keyword, $(page).attr("data-id"))
    }
  }

  function renderPagination(totalPage, currentPage) {
    let $pagination = $('#pagination');
    let defaultOpts = {
      totalPages: totalPage,
      startPage: currentPage,
      visiblePages: 6,

      onPageClick: function (event, page) {
        handleClick(page);
      }
    };
    $pagination.twbsPagination(defaultOpts);
  }

  function renderCustomer(customers, currentPage) {
    let startIndex = (currentPage - 1) * 10
    let listcustomer = document.querySelector("#customer-list")
    listcustomer.innerHTML = ""
    for (let i = 0; i < customers.length; i++) {
      listcustomer.innerHTML += `
        <tr>
                <th scope="row"><input class="form-check-input" type="checkbox"></th>
                <td>${startIndex + i + 1}</td>
                <td>
                  <img src="${customers[i].avatar}" width="25" style="border-radius: 50%"> 
                  <span>${customers[i].name}</span>
                </td>
                <td>${customers[i].timeJoined}</td>
                <td class="text-center"><span class="fw-bolder">${convertToVND(customers[i].total)}</span></td>
                <td>${customers[i].lastOnline}</td>
                <td class="text-center">
                  <button class="btn btn-xs btn-light detail-btn" data-id=${i} onclick="toggleDetail(this)">
                    <i class="fa-solid fa-angles-down" style="color: #a5d737;"></i>
                  </button>
                </td>
              </tr>
              <tr class="detail-row">
                <td colspan="7" class="detail-col">
                  <div class="container-fluid detail-table">
                    <div class="row">
                      <div class="col-md-2 d-flex justify-content-center align-items-center">
                        <div class="avatar-container">
                          <img class="avatar-img" src="${customers[i].avatar}" alt="Avatar">
                        </div>
                      </div>
                      <div class="col-md-10">
                        <table class="table">
                          <tbody>
                            <tr>
                              <th width="20%">Name</th>
                              <td>${customers[i].name}</td>
                            </tr>
                            <tr>
                              <th width="20%">Email</th>
                              <td>${customers[i].email}</td>
                            </tr>
                            <tr>
                              <th width="20%">Phone</th>
                              <td>${customers[i].phoneNumber}</td>
                            </tr>
                            <tr>
                              <th width="20%">Joined</th>
                              <td>${customers[i].timeJoined_m}</td>
                            </tr>
                            <tr>
                              <th width="20%">Last
                                online</th>
                              <td>${customers[i].lastOnline_m}</td>
                            </tr>
                            <tr>
                              <th width="20%">Total
                                spend</th>
                              <td>${convertToVND(customers[i].total)}</td>
                            </tr>
                            <tr>
                              <td colspan="2" class="justify-content-end text-end border-0">
                                <div class="hidden-sm hidden-xs btn-group">

                                  <button class="btn btn-xs btn-info" onclick="updateUser(this)" data-email="${customers[i].email}">
                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                  </button>

                                  <button class="btn btn-xs btn-danger" onclick="deleteUser(this)" data-email="${customers[i].email}">
                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                  </button>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                      </div>
                    </div>
                  </div>
                </td>
              </tr>
      `
    }
  }

  function getAllCustomerList() {
    $.ajax({
      type: "GET",
      url: "/admin/customers/getPerpage",
      contentType: 'application/json',
      data: { showType: "admin" },
      dataType: "json",
      success: function (data) {
        renderPagination(data.totalPage, data.currentPage);
        renderCustomer(data.listcustomer, data.currentPage);
      },
      error: function (result) {
        console.log(result);
      }
    });
  }

  document.addEventListener("DOMContentLoaded", function () {
    getAllCustomerList();
  })

  function searchByKeyword(keyword, page) {
    data = { currentPage: page, keyword: keyword, showType: 'admin' }
    $.ajax({
      type: "GET",
      url: "/admin/customers/searchcustomer",
      data: data,
      contentType: 'application/json',
      dataType: "json",
      success: function (data) {
        let totalPage = data.totalPage;
        let currentPage = data.currentPage;
        renderPagination(data.totalPage, data.currentPage);
        renderCustomer(data.listcustomer, data.currentPage);
      },
      error: function (result) {
        console.log(result);
      }
    });
  }

  function searchP() {
    let searchbox = document.querySelector("#search-name")
    let keyword = searchbox.value;

    if (keyword == "") {
      getAllCustomerList();
    }
    else {
      searchByKeyword(keyword, 1);
    }
  }

  document.querySelector("#search-name").addEventListener("input", () => searchP())
</script>