<h4>Products</h4>
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-md-12">
      <div class="my-2 d-flex justify-content-between align-items-center">
        <div class="position-relative">
          <label for="search-name" class="position-absolute search"><i class="fa fa-search"></i>
          </label>
          <input class="form-control w-100 order-table" placeholder="Search by name" id="search-name">
        </div>

        <div class="px-2">
          <span>Filters <i class="fa fa-angle-down"></i></span>
          <i class="fa fa-ellipsis-h ms-3"></i>
        </div>

      </div>
      <div class="container table-responsive order-table mt-4 pt-2 px-2">
        <div class="row pt-2 mx-2">
          <table class="table table-responsive table-borderless align-middle">
            <thead class="table-info">
              <tr class="bg-light">
                <th scope="col" width="5%"><input class="form-check-input" type="checkbox"></th>
                <th scope="col" width="5%">#</th>
                <th scope="col" width="30%">Name</th>
                <th scope="col" width="10%">Brand</th>
                <th scope="col" width="10%">Announced</th>
                <th scope="col" class="text-center" width="20%"><span>Price</span></th>
                <th scope="col" width="10%">Quantity</th>
                <th scope="col" class="text-center" width="10%">Detail</th>
              </tr>
            </thead>
            <tbody id="product-list">
            </tbody>
          </table>
        </div>
        <div class="row mx-2 justify-content-end d-flex">
          <nav style="width:auto">
            <ul class="pagination" id="pagination">
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
            </ul>
          </nav>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
  function convertToVND(number) {
    // Using toLocaleString to format the number as currency in VND
    let vndFormatted = number.toLocaleString('vi-VN', {
      style: 'currency',
      currency: 'VND'
    });

    return vndFormatted;
  }
  function searchByKeyword(keyword, page) {
    data = { currentPage: page, keyword: keyword, showType: 'admin' }
    $.ajax({
      type: "GET",
      url: "/product/searchproduct",
      data: data,
      contentType: 'application/json',
      dataType: "json",
      success: function (data) {
        let totalPage = data.totalPage;
        let currentPage = data.currentPage;
        renderProduct(data.listproduct, currentPage);
        renderPagination(totalPage, currentPage)
      },
      error: function (result) {
        console.log(result);
      }
    });
  }

  function searchP() {
    let searchbox = document.querySelector("#search-name")
    let keyword = searchbox.value;

    if (keyword == "") {
      getAllProductList()
    }
    else {
      searchByKeyword(keyword, 1);
    }
  }

  function handleClick(page) {
    let keyword = document.querySelector("#search-name").value;
    data = { currentPage: $(page).attr("data-id"), showType: "admin" }
    if (keyword == "") {
      $.ajax({
        type: "GET",
        url: "/product/getPerpage",
        data: data,
        contentType: 'application/json',
        dataType: "json",
        success: function (data) {
          let totalPage = data.totalPage;
          let currentPage = data.currentPage;
          renderPagination(totalPage, currentPage);
          renderProduct(data.listproduct, currentPage);
        },
        error: function (result) {
          console.log(result);
        }
      });

    }
    else {
      searchByKeyword(keyword, $(page).attr("data-id"))
    }
  }

  function toggleDetail(data) {
    let id = $(data).attr("data-id")
    document.querySelectorAll('.detail-row')[id].classList.toggle('open')
  }

  function renderPagination(totalPage, currentPage) {
    let pages = '';

    for (let i = 1; i <= totalPage; i++) {
      if (i == currentPage) {
        pages += `<li class="page-item active" aria-current="page"><span class="page-link">${i}</span></li>`
      }
      else {
        pages += `<li class="page-item"><a data-id='${i}' class="page-link" style ="cursor: pointer" onclick="handleClick(this)">${i}</a></li>`;
      }
    }

    document.querySelector('#pagination').innerHTML = pages;
  }

  function renderProduct(products, currentPage) {
    let startIndex = (currentPage - 1) * 10
    let listproduct = document.querySelector("#product-list")
    listproduct.innerHTML = ""
    for (let i = 0; i < products.length; i++) {
      listproduct.innerHTML += `
        <tr>
                <th scope="row"><input class="form-check-input" type="checkbox"></th>
                <td>${startIndex + i + 1}</td>
                <td>${products[i].name}</td>
                <td>${products[i].type}</td>
                <td>${products[i].releaseDate}</td>
                <td class="text-center"><span class="fw-bolder">${convertToVND(products[i].giagiam)}</span></td>
                <td>${products[i].total}</td>
                <td class="text-center">
                  <button class="btn btn-xs btn-light detail-btn" data-id=${i} onclick="toggleDetail(this)">
                    <i class="fa-solid fa-angles-down" style="color: #a5d737;"></i>
                  </button>
                </td>
              </tr>
              <tr class="detail-row">
                <td colspan="8" class="detail-col">
                  <div class="container-fluid detail-table">
                    <div class="row">
                      <div class="col-md-3 d-flex justify-content-center align-items-center">
                        <div class="product-container">
                          <img class="product-img" src="${products[i].image}" alt="${products[i].name}">
                        </div>
                      </div>
                      <div class="col-md-9">
                        <table class="table">
                          <tbody>
                            <tr>
                              <th width="20%">Name</th>
                              <td>${products[i].name}</td>
                            </tr>
                            <tr>
                              <th width="20%">Brand</th>
                              <td>${products[i].type}</td>
                            </tr>
                            <tr>
                              <th width="20%">Annouced</th>
                              <td>${products[i].releaseDate_m}</td>
                            </tr>
                            <tr>
                              <th width="20%">Cost price</th>
                              <td>${convertToVND(products[i].cost)}</td>
                            </tr>
                            <tr>
                              <th width="20%">Sales price</th>
                              <td>${convertToVND(products[i].price)}</td>
                            </tr>
                            <tr>
                              <th width="20%">Discount</th>
                              <td>${products[i].discount}%</td>
                            </tr>
                            <tr>
                              <th width="20%">In stock</th>
                              <td>${products[i].total}</td>
                            </tr>
                            <tr>
                              <td colspan="2" class="justify-content-end text-end border-0">
                                <div class="hidden-sm hidden-xs btn-group">
                                  <button class="btn btn-xs btn-success">
                                    <i class="ace-icon fa fa-check bigger-120"></i>
                                  </button>

                                  <button class="btn btn-xs btn-info">
                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                  </button>

                                  <button class="btn btn-xs btn-danger">
                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                  </button>

                                  <button class="btn btn-xs btn-warning">
                                    <i class="ace-icon fa fa-flag bigger-120"></i>
                                  </button>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                      </div>
                    </div>
                  </div>
                </td>
              </tr>
      `
    }
  }

  function getAllProductList() {
    $.ajax({
      type: "GET",
      url: "/product/getPerpage",
      contentType: 'application/json',
      data: { showType: "admin" },
      dataType: "json",
      success: function (data) {

        renderPagination(data.totalPage, data.currentPage);
        renderProduct(data.listproduct, data.currentPage);
      },
      error: function (result) {
        console.log(result);
      }
    });
  }
  document.addEventListener("DOMContentLoaded", function () {
    getAllProductList();
  })

  document.querySelector("#search-name").addEventListener("input", () => searchP())
</script>