<h4>Products</h4>
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-md-12">
      <div class="my-2 d-flex justify-content-between align-items-center">
        <div class="position-relative">
          <label for="search-name" class="position-absolute search"><i class="fa fa-search"></i>
          </label>
          <input class="form-control w-100 order-table" placeholder="Search by name" id="search-name">
        </div>
        <!-- Button trigger modal -->
        <div>
          <button type="button" class="btn modal-button" data-bs-toggle="modal" data-bs-target="#addProductModal">
            New Product
          </button>

          <!-- Modal -->
          <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="addProductModalLabel">New
                    Product</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container-fluid" style="height: 100%;">
                    <form id="addProductForm" action="/admin/products/add" method="POST" style="height: 100%;">
                      <div class="row" style="height: 100%;">
                        <div class="col-md-5">
                          <div class="row" style="min-height: 70%;">
                            <img id="frame" src class="img-fluid" style="max-width: 400px;" />
                          </div>
                          <div class="row mt-5">
                            <input name="image" class="form-control-file border" accept="image/*" required type="file"
                              id="formFile" onchange="preview()">
                          </div>
                        </div>
                        <div class="col-md-7">
                          <div class="form-group mt-2">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" placeholder="Product's name" required>
                          </div>
                          <div class="form-group mt-2">
                            <label for="cost">Cost</label>
                            <input type="number" class="form-control" name="cost" placeholder="Product's cost" required>
                          </div>
                          <div class="form-group mt-2">
                            <label for="price">Sale Price</label>
                            <input type="number" class="form-control" name="price" placeholder="Product's sale price"
                              required>
                          </div>
                          <div class="form-group mt-2">
                            <label for="discount">Discount</label>
                            <input type="number" class="form-control" name="discount" placeholder="Product's discount"
                              required>
                          </div>
                          <div class="form-group mt-2">
                            <label for="total">Quantity</label>
                            <input type="number" class="form-control" name="total" placeholder="Quantity" required>
                          </div>
                          <div class="form-group mt-2">
                            <label for="typeId">Brand</label>
                            <select name="typeId" id="brandType" required>
                            </select>
                          </div>
                          <div class="form-group mt-2">
                            <label for="releaseDate">Release Date</label>
                            <input type="date" class="form-control" name="releaseDate" required>
                          </div>
                        </div>
                      </div>
                      <hr>
                      <h5>Technical Information</h5>
                      <div class="row">
                        <div class="col-md-5">
                          <div class="form-group mt-2">
                            <label for="screen">Screen</label>
                            <input type="text" class="form-control" name="screen"
                              placeholder="Display Screen Information" required>
                          </div>
                          <div class="form-group mt-2">
                            <label for="os">OS</label>
                            <input type="text" class="form-control" name="os" placeholder="Product's OS" required>
                          </div>
                          <div class="form-group mt-2">
                            <label for="fcam">Front Camera</label>
                            <input type="text" class="form-control" name="fcam" placeholder="Front Camera Information"
                              required>
                          </div>
                          <div class="form-group mt-2">
                            <label for="bcam">Back Camera</label>
                            <input type="text" class="form-control" name="bcam" placeholder="Back Camera Information"
                              required>
                          </div>
                        </div>
                        <div class="col-md-5">
                          <div class="form-group mt-2">
                            <label for="cpu">CPU</label>
                            <input type="text" class="form-control" name="cpu" placeholder="Chipset" required>
                          </div>
                          <div class="form-group mt-2">
                            <label for="ram">RAM (GB)</label>
                            <input type="number" min="4" max="16" class="form-control" name="ram" placeholder="RAM"
                              value="4" required>
                          </div>
                          <div class="form-group mt-2">
                            <label for="rom">ROM (GB)</label>
                            <input type="number" min="32" class="form-control" name="rom" placeholder="RAM" value="128"
                              required>
                          </div>
                          <div class="form-group mt-2">
                            <label for="battery">Battery (mAh)</label>
                            <input type="number" min="2000" class="form-control" name="battery" placeholder="Battery"
                              value="5000" required>
                          </div>
                        </div>

                      </div>
                    </form>
                  </div>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="modal-close">Hủy</button>
                  <button type="button" class="btn btn-primary" onclick="addProduct()">Thêm</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container table-responsive order-table mt-4 pt-2 px-2">
        <div class="row pt-2 mx-2">
          <table class="table table-responsive table-borderless align-middle table-hover">
            <thead class="table-info">
              <tr class="bg-light">
                <th scope="col" width="5%"><input class="form-check-input" type="checkbox"></th>
                <th scope="col" width="5%">#</th>
                <th scope="col" width="30%">Name</th>
                <th scope="col" width="10%">Brand</th>
                <th scope="col" width="10%">Announced</th>
                <th scope="col" class="text-center" width="20%"><span>Price</span></th>
                <th scope="col" width="10%">Quantity</th>
                <th scope="col" class="text-center" width="10%">Detail</th>
              </tr>
            </thead>
            <tbody id="product-list">
            </tbody>
          </table>
        </div>
        <div class="row mx-2 justify-content-center d-flex">
          <nav style="width:auto">
            <ul class="pagination" id="pagination">
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
            </ul>
          </nav>
        </div>
      </div>

    </div>
  </div>
</div>

<script>
  function convertToVND(number) {
    // Using toLocaleString to format the number as currency in VND
    let vndFormatted = number.toLocaleString('vi-VN', {
      style: 'currency',
      currency: 'VND'
    });

    return vndFormatted;
  }
  function searchByKeyword(keyword, page) {
    data = { currentPage: page, keyword: keyword, showType: 'admin' }
    $.ajax({
      type: "GET",
      url: "/product/searchproduct",
      data: data,
      contentType: 'application/json',
      dataType: "json",
      success: function (data) {
        let totalPage = data.totalPage;
        let currentPage = data.currentPage;
        renderProduct(data.listproduct, currentPage);
        renderPagination(totalPage, currentPage)
      },
      error: function (result) {
        console.log(result);
      }
    });
  }

  function searchP() {
    let searchbox = document.querySelector("#search-name")
    let keyword = searchbox.value;

    if (keyword == "") {
      getAllProductList()
    }
    else {
      searchByKeyword(keyword, 1);
    }
  }

  function handleClick(page) {
    let keyword = document.querySelector("#search-name").value;
    data = { currentPage: parseInt(page), showType: "admin" }
    if (keyword == "") {
      $.ajax({
        type: "GET",
        url: "/product/getPerpage",
        data: data,
        contentType: 'application/json',
        dataType: "json",
        success: function (data) {
          let totalPage = data.totalPage;
          let currentPage = data.currentPage;
          renderPagination(totalPage, currentPage);
          renderProduct(data.listproduct, currentPage);
        },
        error: function (result) {
          console.log(result);
        }
      });

    }
    else {
      searchByKeyword(keyword, $(page).attr("data-id"))
    }
  }

  function renderPagination(totalPage, currentPage) {
    let $pagination = $('#pagination');
    let defaultOpts = {
      totalPages: totalPage,
      startPage: currentPage,
      visiblePages: 6,

      onPageClick: function (event, page) {
        handleClick(page);
      }
    };
    $pagination.twbsPagination(defaultOpts);
  }

  function renderProduct(products, currentPage) {
    let startIndex = (currentPage - 1) * 10
    let listproduct = document.querySelector("#product-list")
    listproduct.innerHTML = ""
    for (let i = 0; i < products.length; i++) {
      listproduct.innerHTML += `
        <tr>
                <th scope="row"><input class="form-check-input" type="checkbox"></th>
                <td>${startIndex + i + 1}</td>
                <td>${products[i].name}</td>
                <td>${products[i].type}</td>
                <td>${products[i].releaseDate}</td>
                <td class="text-center"><span class="fw-bolder">${convertToVND(products[i].giagiam)}</span></td>
                <td>${products[i].total}</td>
                <td class="text-center">
                  <button class="btn btn-xs btn-light detail-btn" data-id=${i} onclick="toggleDetail(this)">
                    <i class="fa-solid fa-angles-down" style="color: #a5d737;"></i>
                  </button>
                </td>
              </tr>
              <tr class="detail-row">
                <td colspan="8" class="detail-col">
                  <div class="container-fluid detail-table" id="${products[i].productId}">
                    <div class="row">
                      <div class="col-md-3 d-flex justify-content-center align-items-center">
                        <div class="product-container">
                          <img class="product-img" src="${products[i].image}" alt="${products[i].name}">
                        </div>
                      </div>
                      <div class="col-md-9">
                        <table class="table">
                          <tbody>
                            <tr>
                              <th width="20%">Name</th>
                              <td>${products[i].name}</td>
                            </tr>
                            <tr>
                              <th width="20%">Brand</th>
                              <td>${products[i].type}</td>
                            </tr>
                            <tr>
                              <th width="20%">Annouced</th>
                              <td>${products[i].releaseDate_m}</td>
                            </tr>
                            <tr>
                              <th width="20%">Cost price</th>
                              <td>${convertToVND(products[i].cost)}</td>
                            </tr>
                            <tr>
                              <th width="20%">Sales price</th>
                              <td>${convertToVND(products[i].price)}</td>
                            </tr>
                            <tr>
                              <th width="20%">Discount</th>
                              <td>${products[i].discount}%</td>
                            </tr>
                            <tr>
                              <th width="20%">In stock</th>
                              <td>${products[i].total}</td>
                            </tr>
                            <tr>
                              <th width="20%">Active</th>
                              <td>${products[i].active}</td>
                            </tr>
                            <tr>
                              <td colspan="2" class="justify-content-end text-end border-0">
                                <div class="hidden-sm hidden-xs btn-group">
                                  

                                  <button class="btn btn-xs btn-info" onclick="turnOnEditMode(event)">
                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                  </button>

                                  <button class="btn btn-xs btn-danger" onclick="DeactivateItem(event)" btnid="${products[i].productId}">
                                    <i class="ace-icon fa fa-ban bigger-120"></i>
                                  </button>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                      </div>
                    </div>
                  </div>
                </td>
              </tr>
      `
    }
  }

  function getAllProductList() {
    $.ajax({
      type: "GET",
      url: "/product/getPerpage",
      contentType: 'application/json',
      data: { showType: "admin" },
      dataType: "json",
      success: function (data) {

        renderPagination(data.totalPage, data.currentPage);
        renderProduct(data.listproduct, data.currentPage);
      },
      error: function (result) {
        console.log(result);
      }
    });
  }
  document.addEventListener("DOMContentLoaded", function () {
    getAllProductList();
  })

  document.querySelector("#search-name").addEventListener("input", () => searchP())
</script>