<section>
    <div class="header-table">
        <marquee behavior="scroll" direction="left">Chào mừng đến với Thế Giới Di Động!</marquee>
    </div>
    <div class="listGT">

        <div class="khungGT">
            <h2>Về chúng tôi</h2>
            <p>Thế Giới Di Động, với hơn 20 năm hoạt động, là địa điểm hàng đầu tại Việt Nam đối với sự hiện đại và
                tiện
                ích trong lĩnh vực di động và công nghệ. Chúng tôi tự hào là đối tác tin cậy cho mọi người trong
                việc
                mang đến những trải nghiệm tuyệt vời nhất với công nghệ mới nhất.</p>
        </div>
        <div class="khungGT">
            <h2>Sứ mệnh của chúng tôi</h2>
            <p>Chúng tôi cam kết đem đến sự tiện lợi và hạnh phúc cho khách hàng thông qua việc cung cấp sản phẩm và
                dịch vụ chất lượng, đa dạng, và hiện đại nhất. Sứ mệnh của chúng tôi không chỉ là cung cấp các sản
                phẩm
                hàng đầu mà còn là tạo ra những trải nghiệm mua sắm độc đáo và thoải mái.</p>
        </div>
        <div class="khungGT">
            <h2>Dịch vụ của chúng tôi</h2>
            <p>Bán lẻ điện thoại di động, máy tính bảng và các sản phẩm công nghệ khác</p>
            <p>Dịch vụ bảo hành và sửa chữa chuyên nghiệp, đảm bảo an tâm cho khách hàng.</p>
            <p>Chương trình khuyến mãi và ưu đãi đặc biệt, tạo ra cơ hội mua sắm tiết kiệm và hấp dẫn.</p>
        </div>
        <div class="khungGT">
            <h2>Chúng tôi đồng hành cùng bạn</h2>
            <p>Với đội ngũ nhân viên chuyên nghiệp và nhiệt tình, Thế Giới Di Động không chỉ là một cửa hàng, mà là
                đối
                tác đáng tin cậy đồng hành cùng bạn trên hành trình sử dụng công nghệ.</p>
        </div>

        <div class="khungGT">
            <h2>Đổi mới và Phát triển</h2>
            <p>Thế Giới Di Động không chỉ là một điểm đến để mua sắm, mà còn là nơi nơi sự sáng tạo và phát triển
                liên
                tục diễn ra. Chúng tôi luôn đầu tư vào việc cập nhật và mở rộng danh mục sản phẩm, mang đến cho
                khách
                hàng những lựa chọn đa dạng và hiện đại nhất.</p>
        </div>
        <div class="khungGT">
            <h2>Trải Nghiệm Mua Sắm Thân Thiện</h2>
            <p>Chúng tôi tạo ra không gian mua sắm thân thiện và thoải mái, nơi bạn có thể dễ dàng khám phá và trải
                nghiệm các sản phẩm. Cùng với đó là đội ngũ nhân viên chuyên nghiệp, sẵn sàng hỗ trợ và tư vấn,
                chúng
                tôi cam kết mang lại trải nghiệm mua sắm tốt nhất cho khách hàng.</p>
        </div>
    </div>
</section>