.text-capitalize {
  text-transform: capitalize !important;
}

.text-sm {
  line-height: 1.5;
}

.font-weight-bold {
  font-weight: 600 !important;
}

.font-weight-bolder {
  font-weight: 700 !important;
}

.text-sm {
  font-size: 0.875rem !important;
}

.search {
  top: 6px;
  left: 10px;
}

.form-control {
  border: none;
  padding-left: 32px;
}

.form-control:focus {
  border: none;
  box-shadow: none;
}

.green {
  color: green;
}

.order-table {
  background-color: white;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  border: none;
}

.avatar-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #ccc;
}
.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.detail-row {
    border-top: 3px solid #ddd;
    display: none;
    transition: display 0s, opacity 0.5s;
}

.detail-row.open {
    display: table-row;
}

.detail-col {
    padding: 10px !important;
    background-color: #f0f3f5 !important;
}

.detail-table {
    background-color: white;
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
}

.modal-button {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.05);
}

.modal {
  --bs-modal-width: 600px;
}

/* .modal-body {
  height: 500px;
} */

.modal-button {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.05);
}

.form-control {
  border: 1px solid #ccc;
}

.form-control:focus {
  border: 1px solid #ccc;
}