.card {
  background-color: white;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  border: none;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-sm {
  line-height: 1.5;
}

.font-weight-bold {
  font-weight: 600 !important;
}

.font-weight-bolder {
  font-weight: 700 !important;
}

.text-sm {
  font-size: 0.875rem !important;
}

.search {
  top: 6px;
  left: 10px;
}

.form-control {
  border: none;
  padding-left: 32px;
}

.form-control:focus {
  border: none;
  box-shadow: none;
}

.green {
  color: green;
}

.order-table {
  background-color: white;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  border: none;
}

#chart-line  {
  max-height: 500px !important;
}
