.order-table {
  background-color: white;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.05);
  border-radius: 15px;
  border: none;
}

#account-balance {
  background-color: white;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.05);
  padding: 10px;
  border-radius: 15px;
  border: none;
}

.search {
  top: 6px;
  left: 10px;
}

.form-control {
  border: none;
  padding-left: 32px;
}

.form-control:focus {
  border: none;
  box-shadow: none;
}

#payment-time-filter, #add-time-filter {
  background-color: white;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  border: none;
}

#pages-list {
  overflow-y: scroll;
}