<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Successful</title>
  <link rel="icon" type="image/x-icon" href="/product/img/favicon.ico">

  <meta name="author" content="Codeconvey" />
  <!-- Message Box CSS -->
  <link rel="stylesheet" href="/product/css/success.css">

</head>

<body>

  <section>
    <div class="rt-container">
      <div class="col-rt-12">
        <div class="Scriptcontent">

          <!-- partial:index.partial.html -->
          <div id='card' class="animated fadeIn">
            <div id='upper-side'>
              <img src="https://cdn-icons-png.flaticon.com/256/3487/3487761.png" alt="email">

            </div>
            <div id='lower-side'>
              <p id='message'>
                Register successful. Please check your mail to verify account
              </p>
              <a href="/auth/login" id="contBtn">Login</a>
            </div>
          </div>
          <!-- partial -->
        </div>
      </div>
    </div>
  </section>

</body>

</html>