<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="img/favicon.ico">
  <title>Thế giới điện thoại</title>
  <!-- Load font awesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <!-- our files -->
  <!-- css -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/topnav.css">
  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/taikhoan.css">
  <link rel="stylesheet" href="css/gioHang.css">
  <link rel="stylesheet" href="css/footer.css">
  <!-- js -->

  <script src="js/classes.js"></script>
  <script src="js/dungchung.js"></script>
</head>

<body>
  <div class="top-nav group">
    <section>
      <div class="social-top-nav">
        <a class="fa fa-facebook"></a>
        <a class="fa fa-twitter"></a>
        <a class="fa fa-google"></a>
        <a class="fa fa-youtube"></a>
      </div> <!-- End Social Topnav -->
      <ul class="top-nav-quicklink flexContain">
        <li><a href="/"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li><a href="/news"><i class="fa fa-newspaper-o"></i> Tin tức</a></li>
        <li><a href="/hiring"><i class="fa fa-handshake-o"></i> Tuyển dụng</a></li>
        <li><a href="/about"><i class="fa fa-info-circle"></i> Giới thiệu</a></li>
        <li><a href="/maintenance"><i class="fa fa-wrench"></i> Bảo hành</a></li>
        <li><a href="/contact"><i class="fa fa-phone"></i> Liên hệ</a></li>
      </ul> <!-- End Quick link -->
    </section><!-- End Section -->
  </div><!-- End Top Nav  -->

  <section>
    <div class="header group">
      <div class="logo">
        <a href="/">
          <img src="img/logo.jpg" alt="Trang chủ Smartphone Store" title="Trang chủ Smartphone Store">
        </a>
      </div> <!-- End Logo -->

      <div class="content">
        {{!-- <div class="search-header" style="position: relative; left: 162px; top: 1px;">
          <form class="input-search" method="get" action="/">
            <div class="autocomplete">
              <input id="search-box" name="search" autocomplete="off" type="text"
                placeholder="Nhập từ khóa tìm kiếm...">
              <button type="submit">
                <i class="fa fa-search"></i>
                Tìm kiếm
              </button>
            </div>
          </form> <!-- End Form search -->
          <div class="tags">
            <strong>Từ khóa: </strong>
            <a href="index.html?search=Samsung">Samsung</a><a href="index.html?search=iPhone">iPhone</a><a
              href="index.html?search=Huawei">Huawei</a><a href="index.html?search=Oppo">Oppo</a><a
              href="index.html?search=Mobi">Mobi</a>
          </div>
        </div> <!-- End Search header --> --}}

        <div class="tools-member">
          <div class="member">
            <a href="/login">
              <i class="fa fa-user"></i>
              Tài khoản
            </a>
            <div class="menuMember">
              <a href="/detailUser">Trang người dùng</a>
              <form action="/auth/logout" method="post"><button type="submit">
                  Đăng xuất
                </button></form>
            </div>

          </div> <!-- End Member -->

          <div class="cart">
            <a href="/cart">
              <i class="fa fa-shopping-cart"></i>
              <span>Giỏ hàng</span>
              <span class="cart-number" id="cartNumber"></span>
            </a>
          </div> <!-- End Cart -->
        </div><!-- End Tools Member -->
      </div> <!-- End Content -->
    </div> <!-- End Header -->
  </section>

  <section style="min-height: 85vh">


    <table class="listSanPham">
      <tbody id="listProductinCart">

      </tbody>
    </table>
  </section> <!-- End Section -->

  <div class="footer">
    <!-- ============== Alert Box ============= -->
    <div id="alert">
      <span id="closebtn">⊗</span>
    </div>

    <!-- ============== Footer ============= -->
    <div class="copy-right">
      <p><a href="/">Thế giới di động</a> - Đồ án web © 2024 - Được thiết kế bởi
        <span style="color: #eee; font-weight: bold">nhóm Bee</span>
      </p>
    </div>
  </div>

  <i class="fa fa-arrow-up" id="goto-top-page" onclick="gotoTop()"></i>
</body>

</html>

<script>
  let cartNumber = document.getElementById("cartNumber");
  let listProductinCart = document.getElementById("listProductinCart");
  function updateCartnumber() {
    data = { userId: localStorage.getItem("idUser") }
    $.ajax({
      type: "GET",
      url: `/cart/listcart`,
      data: data,
      contentType: 'application/json',
      dataType: "json",
      success: function (data) {
        //console.log(data);
        cartNumber.innerHTML = data.listPCart.length;
        renderListProductInCart(data.listPCart)
      },
      error: function (result) {
        console.log(result)
      }
    });
  }


  function convertToVND(number) {
    // Using toLocaleString to format the number as currency in VND
    let vndFormatted = number.toLocaleString('vi-VN', {
      style: 'currency',
      currency: 'VND'
    });
    return vndFormatted;
  }
  updateCartnumber();
  function tinhTongtien(listCart) {
    let sum = 0;
    for (let i = 0; i < listCart.length; i++) {
      sum += (100 - listCart[i].discount) * listCart[i].price * listCart[i].quantity
    }
    return sum;
  }

  function updateQuantity(userId, productId, quantity) {
    var currentDate = new Date();
    // Get the components of the date (year, month, day)
    var year = currentDate.getFullYear();
    var month = (currentDate.getMonth() + 1).toString().padStart(2, '0'); // Adding 1 because months are zero-based
    var day = currentDate.getDate().toString().padStart(2, '0');

    // Construct the formatted date string
    var formattedDate = year + '-' + month + '-' + day;

    if (isNaN(parseInt(quantity))) {
      quantity = 0;
    }
    data = { userId: userId, productId: productId, quantity: parseInt(quantity), timeAddToCart: formattedDate };
    //console.log(data);
    $.ajax({
      type: "GET",
      url: `/cart/updateCart`,
      data: data,
      contentType: 'application/json',
      dataType: "json",
      success: function (data) {
        //console.log(data);
        updateCartnumber();
      },
      error: function (result) {
        //console.log(result)
      }
    });
  }

  function capNhatSoLuongFromInput(ip) {
    //console.log(ip.value);
    //console.log(ip.getAttribute("id"));
    let id = ip.getAttribute("id");
    let userId = id.split("|")[0];
    let productId = id.split("|")[1];
    let num = ip.value;
    //console.log(num == "");
    //console.log(userId, productId, num);
    //console.log(num);
    updateQuantity(userId, productId, num);

  }
  function giamSoLuong(btn) {
    //console.log(btn)
    let idBtn = btn.getAttribute("id");
    let id = idBtn.substring(1);
    let userId = id.split("|")[0];
    let productId = id.split("|")[1];
    let num = document.getElementById(id).value;
    if (num == 0) {
      return;
    }
    num--;
    updateQuantity(userId, productId, num);
  }

  function tangSoLuong(btn) {
    let idBtn = btn.getAttribute("id");
    let id = idBtn.substring(1);
    let userId = id.split("|")[0];
    let productId = id.split("|")[1];
    let num = document.getElementById(id).value;
    num++;
    updateQuantity(userId, productId, num);
  }

  function renderListProductInCart(listCart) {
    let content = `<tr>
                    <th>&nbsp;&nbsp;#&nbsp;&nbsp;</th>
                    <th>Sản phẩm</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                    <th>Thời gian</th>
                    <th>Xóa</th>
                </tr>`;
    for (let i = 0; i < listCart.length; i++) {
      content = content + `<tr>
                    <td>${i + 1}</td>
                    <td class="noPadding imgHide">
                        <a target="_blank" href="/product/detailProducts?id=${listCart[i].productId}" title="Xem chi tiết">
                           ${listCart[i].name}
                            <img src="${listCart[i].image}">
                        </a>
                    </td>
                    <td class="alignRight">${convertToVND((100 - listCart[i].discount) * listCart[i].price)}</td>
                    <td class="soluong">
                      <div class="soluongFlex">
                        <button id= "d${listCart[i].userId}|${listCart[i].productId}" onclick="giamSoLuong(this)"><i class="fa fa-minus"></i></button>
                        <input oninput="capNhatSoLuongFromInput(this)" id= "${listCart[i].userId}|${listCart[i].productId}" value="${listCart[i].quantity} ">
                <button id= "u${listCart[i].userId}|${listCart[i].productId}" onclick = "tangSoLuong(this)" > <i class="fa fa-plus"></i></button >
                      </div>
                    </td >
                    <td class="alignRight">${convertToVND((100 - listCart[i].discount) * listCart[i].price * listCart[i].quantity)}</td>
                    <td style="text-align: center">${listCart[i].timeAddToCart.substring(0, 10)}</td>
                    <td class="noPadding"> <i class="fa fa-trash" onclick="xoaSanPhamTrongGioHang(this)"></i> </td>
                </tr > `
    }


    // tinh tong tien 
    let sum = tinhTongtien(listCart)

    content += `  <tr tr style = "font-weight:bold; text-align:center" >
                    <td colspan="4">TỔNG TIỀN: </td>
                    <td class="alignRight">${convertToVND(sum)}</td>
                    <td class="thanhtoan" onclick="thanhToan()"> Thanh Toán </td>
                    <td class="xoaHet" onclick="xoaHet()"> Xóa hết </td>
                </tr >`

    listProductinCart.innerHTML = content;
  }

  function xoaSanPhamTrongGioHang(element) {
    let id = element.parentElement.parentElement.querySelector('td:nth-child(4)').querySelector('input').getAttribute("id");
    let userId = id.split("|")[0];
    let productId = id.split("|")[1];
    deleteProductInCart(userId, productId);
  }

  function deleteProductInCart(userId, productId) {
    data = { userId: userId, productId: productId };
    $.ajax({
      type: "GET",
      url: `/cart/deleteCart`,
      data: data,
      contentType: 'application/json',
      dataType: "json",
      success: function (data) {
        //console.log(data);
        updateCartnumber();
      },
      error: function (result) {
        console.log(result)
      }
    });
  }

  function xoaHet() {
    let productIds = [];
    for (let i = 1; i < document.getElementsByTagName("tr").length - 1; i++) {
      var productId = document.getElementsByTagName("tr")[i].getElementsByTagName("td")[0].innerText;
      productIds.push(productId);
    }
    let userId = document.querySelector("tr:nth-child(2) .soluong input").id.split("|")[0];
    for (let i = 0; i < productIds.length; i++) {
      deleteProductInCart(userId, productIds[i]);
    }
  }
</script>