.pagination {
    clear: both;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    display: flex;
    margin-left: 10px;
    overflow-y: scroll;
    justify-content: center; /* Căn giữa theo trục ngang */
    align-items: center; /* Căn giữa theo trục dọc */
}

.pagination a {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 5px;
    color: #555;
}

.pagination a:hover:not(.current) {
    background-color: #ccc;
}

.pagination .current {
    color: white;
    background: #0950E8;
}